* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    line-height: 18px;
}

body {
    background-color: #E5E5E5;
    height: 89vh;
}

.container {
    width: 375px;
    background: #E5E5E5;
    margin: 0 auto;
    margin-top: 100px;
}

header {
    background-color: #1B83E2;
    width: 375px;
    height: 66px;
}

h1 {
    text-align: center;
    font-weight: 400;
    font-size: 24px;
    color: #F4F4F4;
    padding-top: 24px;
}

main {
    width: 375px;
    height: 700px;
    padding: 24px 24px 34px 24px;
}

label {
    font-weight: 400;
    font-size: 14px;
    color: #777777;
}

select {
    width: 100%;
    height: 48px;
    background: #FFFFFF;
    cursor: pointer;
    outline: none;
    appearance: none;
    padding-left: 18px;
    border: 1px solid #BBBBBB;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    margin: 6px 0 24px 0;
    font-size: 16px;
    font-weight: 700;
    color: #555555;
}

input {
    width: 100%;
    height: 48px;
    margin-bottom: 24px;
    padding-left: 18px;
    outline: none;
    background: #FFFFFF;
    border: 1px solid #BBBBBB;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    font-weight: 700;
    font-size: 16px;
    color: #555555;
}

button {
    width: 100%;
    height: 48px;
    margin-bottom: 36px;
    background: #1B83E2;
    cursor: pointer;
    outline: none;
    border: none;
    border-radius: 25px;
    color: #F4F4F4;
    font-weight: 700;
    font-size: 16px;
}

button:hover {
    opacity: 0.875;
}

button:active {
    opacity: 0.6;
}

section {
    width: 100%;
    height: 300px;
    border: 1px solid #1B83E2;
    border-radius: 4px;
}

.section-container {
    text-align: center;
    padding: 10px;
}

.currency-name {
    font-weight: 400;
    font-size: 14px;
    color: #777777;
}

.currency-value {
    font-weight: 700;
    font-size: 20px;
    color: #1B83E2;
}

.arrow-image {
    margin: 15px auto 0 auto;
    display: block;
}